* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    margin: 0 auto;
    max-width: 1200px;
}

main {
    padding: 0 1rem;
}

body {
    font-family: "Playfair Display", serif;
    color: black;
}


header h1 {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    padding: 0.5rem 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    padding: 2rem;
}

.card {
    margin: 4rem;
    width: calc(100% / 3 - 2rem);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card button {
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    .card {
        width: calc(100% / 4 - 2rem);
        /* 4 smaller cards side by side */
    }
}

@media (min-width: 1024px) {
    .card {
        width: calc(100% / 5 - 2rem);
        /* 5 smaller cards side by side */
    }
}

@media (min-width: 1200px) {
    .card {
        width: calc(100% / 6 - 2rem);
        /* 6 smaller cards side by side */
    }
}

.card .genre {
    font-weight: bold;
}

.card .rating {
    font-weight: bold;

}

.card .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.card button {
    padding: 0.5rem 1rem;
    background-color: var(--green);
    color: rgb(91, 35, 155);
    cursor: pointer;
    border-radius: 4px;
}

.rent-button:hover {
    background-color: #00aeff;
}

.details-button:hover {
    background-color: #00aeff;
}

.searchbar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    display: block;
}

input {
    padding: 0.25rem;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    border-bottom: 2px solid gray;
    transition: all 0.2s;
    width: 100%;
}

input:focus {
    outline: none;
    border-bottom: 2px solid var(--green);
}