.root {
  --white: #f1f1f14d;
  --black: #030416;
  --grey: #d6e2e7;
  --color: var(--white);
  --background: var(--black);
  --primary: var(--grey);
}

body {
  font-family: "Playfair Display", serif;
  font-size: 16px;
background-color: rgba(247, 223, 201, 0.733);
}

/* .App {
  color: var(--color);
  background-color: var(--background);
  min-height: 100vh;
} */
/* 
.App.light {
  --color: var(--black);
  --background: var(--white);
  --primary: var(--black);
} */

main {
  padding: 0 1rem;
}

header h1 {
  font-size: 2.5em;
  /* background-color: #00aeff; */
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.card {
  margin: 4rem;
  width: calc(100% / 3 - 2rem);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .card {
    width: calc(100% / 4 - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(100% / 5 - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(100% / 6 - 2rem);
  }
}

.card .genre {
  font-weight: bold;
}

.card .rating {
  font-weight: bold;
}

.card .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card button {
  padding: 0.5rem 1rem;
  background-color: var(--green);
  color: rgb(91, 35, 155);
  cursor: pointer;
  border-radius: 4px;
}

.rent-button:hover {
  background-color: #00aeff;
}

.details-button:hover {
  background-color: #00aeff;
}

.searchbar {
  border: 1px solid;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}


input {
  padding: 0.25rem;
  font-family: inherit;
  font-size: 1.6em;
  border-bottom: 2px solid rgb(128, 128, 128);
  transition: all 0.2s;
  max-width: 100%;
  width: 30%;
}

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.detail-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.detail-card h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.detail-card .rating,
.detail-card .genre {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.detail-card .buttons {
  margin-top: 2rem;
}

.detail-card .buttons button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.detail-card .buttons button:hover {
  background-color: #0056b3;
}

.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Take full viewport height */
  padding-top: 40px;
}

.content-box {
  padding: 20px;
  max-width: 900px;
  margin-top: -300px;
}

.centered {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/MovieImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.8; 
}

  .large-text {
  font-size: 1.5em;
}

nav {
  margin-bottom: auto;
  display: flex;
  justify-content: flex-start;
}

.home-link,
.movies-link {
  text-decoration: none;
  color: inherit;
  margin: 0 60px;
  padding: 5px 10px;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.home-link:hover,
.movies-link:hover {
  background-color: rgb(202, 3, 3);
}

.active {
  font-weight: bold;
  font-size: 20px;
}

.dropdowns {
  display: flex;
  gap: 20px;
  padding: 15px;
  border-radius: 8px; 
}

.dropdown-group {
  display: flex; 
  flex-direction: column; 
  margin-right: 25px; 
}

label {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

select {
  font-size: 1.2em; 
  padding: 8px;
  border-radius: 4px; 
  transition: border-color 0.3s; 
}

select:focus {
  border-color: #000000a2; 
  outline: none; 
}

.checkout-container {
  display: flex; 
  gap: 10px; 
}


.Checkout-form,
.basic-form {
  flex: 0 1 20%; 
  margin: 230px;
  margin-top: 80px;
  padding: 30px; 
  border: 1px solid #ccc; 
}


.Checkout-form label,
.basic-form label {
  display: block; 
  margin-bottom: 9px; 
}


.Checkout-form input,
.basic-form input {
  width: 100%; 
  padding: 8px; 
  margin-bottom: 16px; 
  box-sizing: border-box; 
}


.basic-form button {
  background-color: #007bff; 
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
}

.basic-form button:hover {
  background-color: #0056b3; 
}
